.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  height: 36px;
  width: 170px;
  background-color: #080808;
  color: #3f3f3f;
  border: 0.5px solid #3f3f3f;
  padding: 0 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-toggle-text{
  display: inline-block;
}

.dropdown-toggle.open {
  background-color: #3f3f3f;
  color: #ffffff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; /* Change the width to 100% */
  background-color: #080808;
  color: #3f3f3f;
  border: 0.5px solid #3f3f3f;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #3f3f3f;
  color: #ffffff;
}