.dropdown {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    width: 100%;
}

.dropdown-toggle {
    height: 36px;
    font-size: 14px;
    width: 100%;
    background-color: #080808;
    color: #a4a4a4;
    border: 0.5px solid #3f3f3f;
    border-radius: 0.3125rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.small.dropdown-toggle {
    padding: 0 12px;
}
.big.dropdown-toggle {
    padding: 0 16px;
}
.dropdown-toggle-text {
    display: inline-block;
}

.dropdown-toggle.open {
    background-color: #3f3f3f;
    color: #ffffff;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #080808;
    color: #a4a4a4;
    border: 0.5px solid #3f3f3f;
    border-radius: 0.3125rem;
    padding: 0;
    margin: 0;
    z-index: 9000;
    list-style: none;
}
.dropdown-item {
    height: 36px;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: nowrap;

    width: 100%;
}
.small.dropdown-item {
    padding: 0.5rem 12px;
}
.big.dropdown-item {
    padding: 0.5rem 16px;
}

.dropdown-item:hover {
    background-color: #3f3f3f;
    color: #ffffff;
}
