.dropdown {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
}

.dropdown-toggle {
    height: 2.25rem;

    width: 100%;
    background-color: #080808;
    color: #a4a4a4;
    border: 0.5px solid #3f3f3f;
    padding: 0 0.75rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-toggle-text {
    display: inline-block;
}

.dropdown-toggle.open {
    background-color: #3f3f3f;
    color: #ffffff;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #080808;
    color: #a4a4a4;
    border: 0.5px solid #3f3f3f;
    border-radius: 0.3125rem;
    padding: 0;
    margin: 0;
    z-index: 9999;
    list-style: none;
}

.dropdown-item {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #3f3f3f;
    color: #ffffff;
}
