
@import 
url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.logo{
    float: left;
}

.logo:active, .enteredtext{
    animation: shake 0.4s linear 0s ;
}


 .logo:hover{
    width: 18px;
    height: 18px;

}

.text{
    color: #A4A4A4;
    background-color:#080808 ;
    border: 0px;
    width: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    outline: none;


}

.search-bar-container{
    background-color: #080808;
    width: 40vw;
    border-radius: 3px;
    padding: 1vh 1vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    justify-content: start;
    border:0.2px #A4A4A4 solid ;
}




@keyframes shake{
    0% {
        margin-left: 0rem;
    }
    25% {
        margin-left: 0.8rem;
    }
    75% {
        margin-left: -0.8rem;
    }
    100% {
        margin-left: 0rem;
    }
}


