.users-cont {
    max-width: 15.3125rem;
    background-color: transparent;
    border-right: 1px solid rgba(55, 55, 55, 0.54);
    padding-right: 2.875rem;
    align-self: self-start;
}
.search-filter-cont {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    margin-bottom: 1.8rem;
}
.users-list-fallback-text {
    text-align: center;
    font-size: 1.4rem;
    margin: 2rem 0;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
}

.user-link {
    text-decoration: none;
    display: flex;
    padding: 9px 6px;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
}
.user-link span:first-of-type {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    line-height: 1.036875rem;
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: nowrap;

    width: 100%;
}
.user-link span:last-of-type {
    font-size: 12px;
    font-weight: 400;
    color: #a4a4a4;
    line-height: 0.88875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    text-align: right;

    white-space: nowrap;
}
.users-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-transform: capitalize;
    max-height: 70rem;
    overflow-y: auto;
}
.users-list::-webkit-scrollbar {
    width: 8px;
}

.users-list::-webkit-scrollbar-track {
    background: #333;
    border-radius: 7px;
}

.users-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}

.users-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.users-list {
    scrollbar-width: thin;
    scrollbar-color: #888 #333;
}

.users-list {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.user-link:hover,
.user-link:active,
.user-link.active {
    background-color: rgba(148, 148, 148, 0.14);
    border-radius: 0.1875rem;
}
@media (max-width: 28.75em) {
    .user-link {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 0.8rem;
    }
}
