.count {
    color: #a4a4a4;
    padding: 0rem 12px;
    height: 36px;
    border: 0.5px solid #3f3f3f;
    line-height: 1.185rem;
    display: flex;
    align-items: center;
    width: 100%;

    font-size: 14px;
    font-weight: 6gir00;
    border-radius: 4px;
    background-color: inherit;
    text-transform: capitalize;
}
