.modal {
    padding: 0;
    border: 1px solid #373737;
    border-radius: 7px;
    background-color: #080808;
    margin: 2rem auto;
    width: 34.75rem;
    overflow-y: scroll;
    max-height: 90svh;
    clip-path: inset(0 0 0 0 round 7px);
    
}

.modal[open] {
    animation: slide-in-from-top 0.35s ease-out;
}
.modal-content {
    padding: 54px 57px 54px 57px;
}

.modal::-webkit-scrollbar {
    width: 8px;
}

.modal::-webkit-scrollbar-track {
    background: #333;
    border-radius: 7px;
}

.modal::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}

.modal::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal {
    scrollbar-width: thin;
    scrollbar-color: #888 #333;
}

.modal {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
@keyframes slide-in-from-top {
    0% {
        transform: translateY(-15%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
.modal::backdrop {
    background-color: rgba(110, 118, 129, 0.4);
}

@media (max-width:43.75em) {
    .modal{
        max-height: 85svh;
        max-width: 82.5%;
       
        transform: translate(0,3%);
    }
  
    
}