.modal {
  padding: 0;
  border: 1px solid #373737;
  border-radius: 7px;
  background-color: #080808;
}
.modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}
.modal-content {
  padding: 54px 57px 54px 57px;
}
@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.modal::backdrop {
  background-color: rgba(110, 118, 129, 0.4);
}
