.section__students {
    margin: 0 2.4rem 2rem;
}
@media (max-width: 56.25em) {
    html:has(.candidate__grid) {
        font-size: 87.5%;
    }
}
@media (max-width: 46.875em) {
    html:has(.candidate__grid) {
        font-size: 75%;
    }
}
@media (max-width: 41.625em) {
    html:has(.candidate__grid) {
        font-size: 100%;
    }
    .section__students .candidate__grid {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .section__students .candidate__grid .delete_button__cont {
        width: 100%;
        height: 3.0834rem;
    }
    .section__students .candidate__grid .delete_button__cont button {
        font-size: 1.334rem;
        text-transform: capitalize;
    }
    .users-cont {
        max-width: 100%;

        padding-right: 0;
        border: none;
    }
}
@media (max-width: 32.5em) {
    html:has(.candidate__grid) {
        font-size: 87.5%;
    }
}
@media (max-width: 29.5em) {
    html:has(.candidate__grid) {
        font-size: 75%;
    }
}
@media (max-width: 29.5em) {
    html:has(.candidate__grid) {
        font-size: 68.75%;
    }
}
