.logo-search:active,
.entered-text {
    animation: shake 0.4s linear 0s;
}

.logo-search:active,
.logo-search:hover {
    transform: scale(1.285);
}
.logo-search {
    transition: all 0.3s;
}
.text-search {
    color: #a4a4a4;
    background-color: #080808;
    border: 0px;
    width: 100%;

    font-size: 0.875rem;
    font-weight: 400;
    outline: none;
}
.text-search::placeholder {
    color: inherit;
}

.search-bar-container {
    background-color: #080808;

    max-width: 43.8125rem;
    border-radius: 0.125rem;
    padding: 0.58125rem 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    border: 0.5px #3f3f3f solid;
}
.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
}
@keyframes shake {
    0% {
        margin-left: 0rem;
    }
    25% {
        margin-left: 1rem;
    }
    75% {
        margin-left: -1rem;
    }
    100% {
        margin-left: 0rem;
    }
}
