@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --header-height: 3.5rem;
    --first-color: #fba312;
    --title-color: hsl(0, 0%, 55%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(0, 0%, 0%);

    --h2-font-size: 1.25rem;
    --small-font-size: 0.813rem;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;

    background-color: #000000;
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: "Rubik", sans-serif;
}
.primary__title {
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    line-height: 37.92px;
}

.title__cont .primary__title {
    font-weight: 400;
}
.seperator {
    margin-top: 2rem;

    border-bottom: 1px solid rgba(55, 55, 55, 0.54);
}
.search__cont {
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    max-width: 56.25rem;
    grid-template-columns: 4.1177fr 1fr;
    column-gap: 1.8125rem;
}
.title__cont {
    margin: 0 auto;
    margin-top: 2rem;

    display: flex;
    height: 2.6875rem;
    justify-content: space-between;
    align-items: center;
}
.end.title__cont{
    align-items: flex-end;
}
.loading_text {
    color: #fff;
    text-align: center;
    margin-top: 4rem;
    font-size: 1.4rem;
}
.info__title {
    color: #fff;
    font-weight: 400;
    line-height: 2.375rem;
    font-size: 2rem;
    text-transform: capitalize;
}
.candidate__grid {
    display: grid;
    grid-template-columns: 1fr 2.2671fr;
    column-gap: 4.5rem;
    max-width: 64.125rem;
    margin: 0 auto;
    margin-top: 4.5rem;
}
.description {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.037rem;
    color: #fff;
}
textarea {
    resize: none;
    /* overflow-x: scroll; */
}
