p {

}

h1 { 
    font-weight: normal; 
}

.infoSection {
    background-color: #080808;
    color: #ffffffff;
    text-align: left;
    text-transform: capitalize;
    border: 0.2rem solid rgba(64, 62, 62, 0.54);
    border-radius: 0.9rem;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-top: 2rem; 
    padding-bottom: 2rem;
}
