.infoSectionTitle {
    font-weight: normal; 
    text-transform: capitalize;
}

.infoSectionBody { 
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
}

.infoSection {
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: 400;
    background-color: #080808;
    color: #ffffffff;
    text-align: left;
    border: 0.2rem solid hsl(0, 0%, 12%);
    border-radius: 0.9rem; 
    padding: 3.2rem 4.4rem 3.2rem 4.4rem;
}
